<!DOCTYPE HTML>

<html>
	<head>
		<title>Gallery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="page-wrap">

		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="gallery" class="active">Gallery</a></li>
				<hr>
				<li><a href="mostraCarrello">Carrello</a></li>


			</ul>
		</nav>

				<section id="main">

						<header id="header">
							<div>Gallery <span>by SILPH</span></div>
						</header>

						<section id="galleries">

								<div class="gallery">

										<header>
											<h1>Gallery</h1>
									
												
												<a href="galleryAlbum"><button>Album</button></a>
												<a href="galleryFotografi"><button>Fotografi</button></a>
											
										</header>

										<div class="content">
										
										<div class="media" th:each="fotografia : ${fotografie}">
											<a th:href="@{'/selezionaFoto' + '/' + ${fotografia.id}}"><img style="width:400px;height:300px" th:src="${fotografia.url}" alt="" /></a>
										</div>	
											
								</div>
						</section>
				</section>
		</div>

<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.poptrox.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>
